<!--El Bloque Content for sirve para llamar lo esrito hacia la etiqueta receptora sobre el Layout-->
<% content_for (:title) do %>
C&oacute;digos de Barras
<% end %>

<% content_for (:styleSheet) do %>
<link rel="stylesheet" type="text/css" href="css/dos.css">
<link rel="stylesheet" type="text/css" href="css/uno.css">
<% end %>

<!--a partir de aquí es lo que se incerta en la etiqueta YIELD de la caja contentMain-->
<div id="contentDos">
  <div class="grid_3" id="cajasIzquierda">
  <!-- Alianzas tres logotipos-->
    <div id="logotipos">
      <h4>Alianzas</h4>
      <a href="#" title="CONAIMUC" id="conaimuc"></a>
      <a href="#" title="Siglo 12" id="siglo12"></a>
      <a href="#" title="Pinakes" id="pinakes"></a>
    </div>
  <!-- fin de Alianzas-->
  </div>
  <div class="grid_6" id="cajaCentral">
    <div class="corners" id="boxContent">
      <!-- esta es una ruta de localizacion de Productos y Servicios -->
      <p class="root">
        <a href="inicio">Productos</a>
        <span class="acotacion">&lt;</span>
        <a href="dos">Etiquetas, Protectores y C&oacute;digos de Barras </a>
      </p> 
      <!--A continuacion va el Titulo Pricipal de la Sección o Pagina -->
      <h1 class="titleMain"> 
        C&oacute;digos de Barras
      </h1>
      <!--sigue la Sección de texto e informacion escrita -->
      <p class="textMain plecaNa">
        Fermentum ipsum aliquet facilisi porttitor, mauris erat sollicitudin pede id neque tincidunt, quis vitae lorem, id mus per. Quisque eu et vivamus mauris fermentum fringilla, adipiscing posuere in tellus. Quisque officia dui nibh at tellus, interdum nec at mollis semper sit. Feugiat erat etiam nulla laoreet.
      </p>
      <p class="acotacion">(2 elementos)</p>
      <!--Inicia triada de cajas-->
      <div class="boxOut first">
        <a href="impresoras-de-codigos-de-barras">
        <div class="boxZ corners" id="EPyC01"></div>
        <p class="middle">Impresoras de c&oacute;digos de Barras</p>
        </a>
      </div>
      <div class="boxOut">
        <a href="#">
        <div class="boxZ corners" id="EPyC02"></div>
        <p class="middle">Lectores</p>
        </a>
      </div>
      <div class="boxOut">
        <div class="boxZ corners"></div>
        <p class="middle fantasma">Producto 01</p>
      </div>
      <!--Fin triada de cajas-->
      <!--Este fanstasma hace que el color de fondo de la caja boxContent abarque hasta esta etiqueta con la propiedad de Visivilidad Oculta -->
      <p class="fantasma">Fin</p>
    </div><!--boxContent-->
  </div><!-- grid_6 prefix_3 -->
  <!--Inicia cajas al costado derecho -->
  <div class="grid_3" id="cajasDerecha">
    <div class="corners cajasD" id="Rdos01">
      <a href="#">
        <div class="border corners fondo">
          <h1 class="typo2">Odio enim elit arcu</h1>
        </div>
      </a>
    </div><!-- cajaD -->
    <div class="corners cajasD" id="Rdos01">
      <a href="#">
        <div class="border corners fondo">
          <h1 class="typo2">Servicio 02</h1>
        </div>
      </a>
    </div><!-- cajaD -->
    <div class="corners cajasD" id="Rdos01">
      <a href="#">
        <div class="border corners fondo title2"> 
          <h1 class="typo2">vestibulum elit <br>nisl quam vestibulum elit nisl quam</h1><!--ver class typo2 en dos.css-->
        </div>
      </a>
    </div><!-- cajaD -->
  </div><!--cajasDerecha-->
</div><!--contenidoDos-->

