<% content_for (:title) do %>
Contacto
<% end %>

<% content_for (:styleSheet) do %>
<link rel="stylesheet" type="text/css" href="css/dos.css">
<link rel="stylesheet" type="text/css" href="css/uno.css">
<% end %>

<div id="contentDos">
  <div class="grid_6 prefix_3">
    <div class="corners" id="boxContent">
      <!--A continuacion va el Titulo Pricipal de la Sección o Pagina -->
      <h1 class="titleMain"> 
        Contacto
      </h1>
      <!--sigue la Sección de texto e informacion escrita -->
      <div class="plecaNa">
        <a href="#">
          <img border="0" alt="logo de Skype" src="http://www.oficinasvirtualesmex.com/jcpvg/logoSky.png">
        </a>
        <p>abraham.lopez.olivelia</p>
      </div>
      <div class="plecaNa">
        <a href="#">
          <img border="0" alt="logo de Facebook" src="http://www.oficinasvirtualesmex.com/jcpvg/logoFa.png">
        </a>
        <p>/sibasa</p>
      </div>
      <div class="plecaNa">
        <a href="#">
          <img border="0" alt="logo de Twitter" src="http://www.oficinasvirtualesmex.com/jcpvg/logoTw.png">
        </a>
        <p>@sibasaventas</p>
      </div>
      <div class="plecaBl">
        <p> clientes@<span class="orange">sibasa</span>.com</p>
      </div>

      <!--Este fanstasma hace que el color de fondo de la caja boxContent abarque hasta esta etiqueta con la propiedad de Visivilidad Oculta -->
      <p class="fantasma">Fin</p>
    </div><!--boxContent-->
  </div><!-- grid_6 prefix_3 -->
  <!--Inicia cajas al costado derecho -->
  <div class="grid_3" id="cajasDerecha">
    <div class="corners cajasD" id="Rdos01">
      <a href="#">
        <div class="border corners fondo">
          <h1 class="typo2">Odio enim elit arcu</h1>
        </div>
      </a>
    </div><!-- cajaD -->
    <div class="corners cajasD" id="Rdos01">
      <a href="#">
        <div class="border corners fondo">
          <h1 class="typo2">Servicio 02</h1>
        </div>
      </a>
    </div><!-- cajaD -->
    <div class="corners cajasD" id="Rdos01">
      <a href="#">
        <div class="border corners fondo title2"> 
          <h1 class="typo2">vestibulum elit <br>nisl quam vestibulum elit nisl quam</h1><!--ver class typo2 en dos.css-->
        </div>
      </a>
    </div><!-- cajaD -->
  </div><!--cajasDerecha-->
</div><!--contenidoDos-->

