<% content_for (:title) do %>
dos
<% end %>

<% content_for (:styleSheet) do%>
<% end %>

<div id="mono">
  <div class="grid_6 alpha"><p>left</p></div>
  <div class="grid_6 omega"><p>right</p></div>
  <div class="grid_12 alpha"><p>Bienvenido Tiburonsin</p></div>
</div>

<!--<img src="img/index_content.png"-->
