<% content_for (:styleSheet) do%>
<link rel="stylesheet" type="text/css" href="css/temas.css">
<% end %>
<div id="left">
	<div class="grid_5 prefix_3 alpha" id="left01"><p>Tema 01</p></div>
	<div class="clear"></div>
	<div class="grid_6 prefix_2 alpha" id="left02"><p>Tema 01</p></div>
	<div class="clear"></div>
	<div class="grid_7 prefix_1 alpha" id="left03"><p>Tema 01</p></div>
<div class="clear"></div>
</div>
<div id="right">
  <div class="grid_4 prefix_8 alpha" id="right01"><a class="apio" href="#"><p>Tema 02</p></a></div>
  <div class="clear"></div>
  <div class="grid_4 prefix_8 alpha" id="right02"><p>Tema 02</p></div>
  <div class="clear"></div>
  <div class="grid_4 prefix_8 alpha" id="right03"><p>Tema 02</p></div>
</div>

