<% content_for (:title) do %>
Impresoras de C&oacute;digos de Barras
<% end %>

<% content_for (:styleSheet) do %>
<link rel="stylesheet" type="text/css" href="css/dos.css">
<link rel="stylesheet" type="text/css" href="css/uno.css">
<% end %>

<div id="contentDos">
  <div class="grid_3" id="cajasIzquierda">
  <!-- Alianzas tres logotipos-->
    <div id="logotipos">
      <h4>Alianzas</h4>
      <a href="#" title="CONAIMUC" id="conaimuc"></a>
      <a href="#" title="Siglo 12" id="siglo12"></a>
      <a href="#" title="Pinakes" id="pinakes"></a>
    </div>
  <!-- fin de Alianzas-->
  </div>
  <div class="grid_6" id="cajaCentral">
    <div class="corners" id="boxContent">
      <!-- esta es una ruta de localizacion de Productos y Servicios -->
      <p class="root">
        <a href="inicio">Productos</a>
        <span class="acotacion">&lt;</span>
        <a href="dos">Etiquetas, Protectores y C&oacute;digos de Barras </a>
        <span class="acotacion">&lt;</span>
        <a href="codigos-de-barras">C&oacute;digos de Barras</a>
      </p> 
      <!--A continuacion va el Titulo Pricipal de la Sección o Pagina -->
      <h1 class="titleMain"> 
        Impresoras de C&oacute;digos de Barras
      </h1>
      <!--sigue la Sección de texto e informacion escrita -->
      <p class="textMain plecaNa">
        Quisque eu et vivamus mauris fermentum fringilla, adipiscing posuere in tellus. Quisque officia dui nibh at tellus, interdum nec at mollis semper sit. Feugiat erat etiam nulla laoreet.
      </p>
      <p class="acotacion">(4 elementos)</p>
      <!--- Inicia triada de cajas --->
      <div class="boxOut">
        <div class="boxZ corners right_align">
          <p>Modelo<br>ITT4100</p>
          <p>Costo<br>300.00 MXS</p>
          <a class="fondoN" href="impresora-de-etiquetas-itt4100"><p>m&aacute;s informaci&oacute;n</p></a>
        </div>
      </div><!--Fin BoxZ Left-->
      <div class="boxOut">
        <div class="boxZ corners">
          <img class="corners" src="img/printers/IM-EQ-ITD4000.jpg" alt="impresora IM-EQ-ITD4000">
        </div>
      </div><!--Fin BoxZ Middle-->
      <div class="boxOut">
        <div class="boxZ corners">
          <p class="left_align">Impresi&oacute;n t&eacute;rmica para Ribbon de cera y serina con conexi&oacute;n serial y paralela. Excelente para bajo volumen</p>
        </div>
      </div><!--Fin Box C-->
      <!--Fin triada de cajas-->
      <!--- Inicia triada de cajas --->
      <div class="boxOut">
        <div class="boxZ corners right_align">
          <p>Modelo<br>ITT4100</p>
          <p>Costo<br>300.00 MXS</p>
          <a class="fondoN" href="#"><p>m&aacute;s informaci&oacute;n</p></a>
        </div>
      </div><!--Fin BoxZ Left-->
      <div class="boxOut">
        <div class="boxZ corners">
          <img class="corners" src="img/printers/IM-EQ-001.jpg" alt="impresora IM-EQ-ITD4000">
        </div>
      </div><!--Fin BoxZ Middle-->
      <div class="boxOut">
        <div class="boxZ corners">
          <p class="left_align">Impresi&oacute;n t&eacute;rmica para Ribbon de cera y serina con conexi&oacute;n serial y paralela. Excelente para bajo volumen</p>
        </div>
      </div><!--Fin BoxZ Right-->
      <!--Fin triada de cajas-->
      <!--- Inicia triada de cajas --->
      <div class="boxOut">
        <div class="boxZ corners right_align">
          <p>Modelo<br>ITT4100</p>
          <p>Costo<br>300.00 MXS</p>
          <a class="fondoN" href="#"><p>m&aacute;s informaci&oacute;n</p></a>
        </div>
      </div><!--Fin BoxZ Left-->
      <div class="boxOut">
        <div class="boxZ corners">
          <img class="corners" src="img/printers/IM-EQ-002.jpg" alt="impresora IM-EQ-ITD4000">
        </div>
      </div><!--Fin BoxZ Middle-->
      <div class="boxOut">
        <div class="boxZ corners">
          <p class="left_align">Impresi&oacute;n t&eacute;rmica para Ribbon de cera y serina con conexi&oacute;n serial y paralela. Excelente para bajo volumen</p>
        </div>
      </div><!--Fin BoxZ Right-->
      <!--Fin triada de cajas-->
      <!--- Inicia triada de cajas --->
      <div class="boxOut">
        <div class="boxZ corners right_align">
          <p>Modelo<br>ITT4100</p>
          <p>Costo<br>300.00 MXS</p>
          <a class="fondoN" class="green" href="#"><p>m&aacute;s informaci&oacute;n</p></a>
        </div>
      </div><!--Fin BoxZ Left-->
      <div class="boxOut">
        <div class="boxZ corners">
          <img class="corners" src="img/printers/IM-EQ-003.jpg" alt="impresora IM-EQ-ITD4000">
        </div>
      </div><!--Fin BoxZ Middle-->
      <div class="boxOut">
        <div class="boxZ corners">
          <p class="left_align">Impresi&oacute;n t&eacute;rmica para Ribbon de cera y serina con conexi&oacute;n serial y paralela. Excelente para bajo volumen</p>
        </div>
      </div><!--Fin BoxZ Right-->
      <!--Fin triada de cajas-->
      <!--Este fanstasma hace que el color de fondo de la caja boxContent abarque hasta esta etiqueta con la propiedad de Visivilidad Oculta -->
      <p class="fantasma">Fin</p>
    </div><!--boxContent-->
  </div><!-- grid_6 prefix_3 -->
  <!--Inicia cajas al costado derecho -->
  <div class="grid_3" id="cajasDerecha">
    <div class="corners cajasD" id="Rdos01">
      <a href="#">
        <div class="border corners fondo">
          <h1 class="typo2">Odio enim elit arcu</h1>
        </div>
      </a>
    </div><!-- cajaD -->
    <div class="corners cajasD" id="Rdos01">
      <a href="#">
        <div class="border corners fondo">
          <h1 class="typo2">Servicio 02</h1>
        </div>
      </a>
    </div><!-- cajaD -->
    <div class="corners cajasD" id="Rdos01">
      <a href="#">
        <div class="border corners fondo title2"> 
          <h1 class="typo2">vestibulum elit <br>nisl quam vestibulum elit nisl quam</h1><!--ver class typo2 en dos.css-->
        </div>
      </a>
    </div><!-- cajaD -->
  </div><!--cajasDerecha-->
</div><!--contenidoDos-->

