<% content_for (:title) do %>
Inicio
<% end %>

<% content_for (:style) do %>
#box {
  height:100px;
  background-color:#AACC56;
  opacity:0.4;
}

h1 {
  text-align:center;
}
<% end %>
<div class="grid_12 alpha" id="box">
  <h1>Hola Primate!!</h1>
</div>
