<% content_for (:title) do %>
:::SIBASA:::
<% end %>

<% content_for (:styleSheet) do%>
<link rel="stylesheet" type="text/css" href="css/uno.css">
<% end %>

<div id="LeftBox">
<div class="caja corners" id="L01">
  <a href="#">
    <div class="border corners fondo2">
      <h1 class="typo">Tema 01</h1>
    </div>
  </a>
</div>
<div class="caja corners" id="L02">
  <a href="#">
    <div class="border corners fondo">
      <h1 class="typo">Tema 02</h1>
    </div>
  </a>
</div>

<div class="caja corners" id="L03">
  <a href="#">
    <div class="border corners fondo">
      <h1 class="typo">Tema 03</h1>
    </div>
  </a>
</div>
<div class="caja corners" id="R01">
  <a href="#">
    <div class="border corners fondo">
      <h1 class="typo">Tema 04</h1>
    </div>
  </a>
</div>
<div class="caja corners" id="R02">
  <a href="#">
    <div class="border corners fondo">
      <h1 class="typo">Tema 05</h1>
    </div>
  </a>
</div>
<div class="caja corners" id="R03">
  <a href="#">
    <div class="border corners fondo2">
      <h1 class="typo">Tema 06</h1>
    </div>
  </a>
</div>
</div>
