<!DOCTYPE html>
<html>
<head>
  <title><% yield_content(:title) %></title>
  <link rel="stylesheet" type="text/css" href="css/layout.css">
  <link rel="stylesheet" type="text/css" href="css/960.css">
  <link rel="stylesheet" type="text/css" href="css/menu.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
  <% yield_content(:styleSheet) %>
  <style><% yield_content(:style) %></style>
</head>
<body>
  <div class="container_12">
    <div class="grid_12" id="bodyMain">
      <div id="header">
        <div class="grid_3 alpha">
          <a href="#" title="SIBASA" id="logo"></a>
        </div>
        <div class="grid_9 omega" id="menuTop">
          <ul>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Novedades</a></li>
            <li><a href="#">Empleos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
      </div><!--header-->
      <div class="clear"></div>
      <div class="grid_2" id="menuP">
      <div id="menuP_Title"><p>Productos</p></div>
				<ul>
					<li><a class="subTitle" href="dos"><span class="izquierdo">Etiquetas, Protectores<br> y C&oacute;digos de Barras</span></a></li>
					<li><a class="subTitle" href="#"><span class="izquierdo">Sistemas de Seguridad <br>y Accesorios</span></a></li>
					<li><a class="subTitle" href="#"><span class="izquierdo centrado">Mobiliario</span></a></li>
					<li><a class="subTitle" href="#"><span class="izquierdo">Proceso F&iacute;sico <br>y Circulaci&oacute;n</span></a></li>
					<li><a class="subTitle" href="#"><span class="centrado izquierdo">Especializados</span></a></li>
				</ul>
			</div>
      <div id="contentMain">
        <%= yield %>
      </div>
      <div class="clear"></div>
      <div id="footer">
        <div class="grid_2 prefix_2 alpha" id="leftFoot">
          <p>Tels. 2156-6439<br>Fax: 01 (55) 2156-5892</p>
        </div>
        <div class="grid_2 alpha medium">
          <p>Face y twitter</p>
        </div>
        <div class="grid_5 alpha" id="rightFoot">
          <p>Luz Saviñ&oacute;n #305 - Col. Del Valle<br>Del. Benito Ju&aacute;rez, C.P. 03100, México, D.F.</p>
        </div>
      </div><!--footer-->
    </div><!--bodyMain-->
  </div><!--container_12-->
</body>
</html>
