<% content_for (:title) do %>
Nosotros
<% end %>

<% content_for (:styleSheet) do %>
<link rel="stylesheet" type="text/css" href="css/dos.css">
<link rel="stylesheet" type="text/css" href="css/uno.css">
<% end %>

<div id="contentDos">
  <div class="grid_6 prefix_3">
    <div class="corners" id="boxContent">
      <!--A continuacion va el Titulo Pricipal de la Sección o Pagina -->
      <h1 class="titleMain"> 
        Nosotros
      </h1>
      <!--sigue la Sección de texto e informacion escrita -->
      <p class="textMain plecaNa"> 
        <span class="subTitle">QUIENES SOMOS</span><br>En noviembre de 2005 surgi&oacute; <span class="orange">Soluciones Integrales para Bibliotecas y Archivos, S.A. de C.V</span>, empresa 100% mexicana formada por un entusiasta grupo interdisciplinario conformado por bibliotecarios, emprendedores, expertos en tecnolog&iacute;a y representantes de ventas con un &uacute;nico objetivo:<br><br>"Ofrecer una nueva alternativa a bibliotecas y archivos en la soluci&oacute;n de sus problemas y necesidades de tecnolog&iacute;a aplicada."
      </p>
      <p class="textMain plecaVe">
        <span class="subTitle">MISI&Oacute;N</span><br>
        Solucionar los problemas y necesidades espec&iacute;ficas de nuestros clientes ofreciendo productos de calidad y servicios especializados aplicando el concepto de mejora continua, contribuyendo as&iacute; a elevar el posicionamiento tecnol&oacute;gico y acad&eacute;mico de las bibliotecas, archivos y unidades de informaci&oacute;n.
      </p>
      <p class="textMain plecaNa">
        <span class="subTitle">VISI&Oacute;N</span><br>
        Consolidarse en el mercado mexicano y competir frontalmente con empresas mexicanas l&iacute;deres en el ramo de productos y servicios especializados para bibliotecas y archivos.</p> 
      <!--Este fanstasma hace que el color de fondo de la caja boxContent abarque hasta esta etiqueta con la propiedad de Visivilidad Oculta -->
      <p class="fantasma">Fin</p>
    </div><!--boxContent-->
  </div><!-- grid_6 prefix_3 -->
  <!--Inicia cajas al costado derecho -->
  <div class="grid_3" id="cajasDerecha">
    <div class="corners cajasD" id="Rdos01">
      <a href="#">
        <div class="border corners fondo">
          <h1 class="typo2">Odio enim elit arcu</h1>
        </div>
      </a>
    </div><!-- cajaD -->
    <div class="corners cajasD" id="Rdos01">
      <a href="#">
        <div class="border corners fondo">
          <h1 class="typo2">Servicio 02</h1>
        </div>
      </a>
    </div><!-- cajaD -->
    <div class="corners cajasD" id="Rdos01">
      <a href="#">
        <div class="border corners fondo title2"> 
          <h1 class="typo2">vestibulum elit <br>nisl quam vestibulum elit nisl quam</h1><!--ver class typo2 en dos.css-->
        </div>
      </a>
    </div><!-- cajaD -->
  </div><!--cajasDerecha-->
</div><!--contenidoDos-->

