html {
	background: #CFE6B3;
/*	background-repeat:no-repeat;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#44C150));
	background: -webkit-linear-gradient(#FFFFFF, #44C150);
	background: -moz-linear-gradient(#FFFFFF, #44c150);
	background: -ms-linear-gradient(#FFFFFF, #44c150);
	background: -o-linear-gradient(#FFFFFF, #44c150);
	background: linear-gradient(#FFFFFF, #44c150);
	-pie-background: linear-gradient(#FFFFFF, #44c150);
	behavior: url(/pie/PIE.htc);*/
}
/*p {
  background-color:orange;
  text-align:center;
}*/

#bodyMain {
  background-color:#FF6600;/*naranja*/
/*  background:url(../images/960_grid_12_col.png) no-repeat center;*/
  font-family:Verdana, Geneva, sans-serif;
}

#header {
  height:50px;
}

a#logo {
  background:white url(../img/logotipo_B.png) no-repeat;
  width:222px;
  height:96px;
  float:left;
    border-radius:0 0 8px 0;
  -webkit-border-radius:0 0 15px 0;
  -moz-border-radius:0 0 15px 0;
  behavior: url(../pie/PIE.htc); /* pie css3 */
/*  opacity:0.4;*/
}

#menuTop {
  background:url(../img/bg_MenuTop.png) no-repeat -14px 0px; /*imagen Blanca de fondo*/
  width:720px;
  height:96px;
  margin-left:-10px;
}

#menuTop {
  font-size:12px;
  font-weight:bold;
}

#menuTop ul {
  float:left;
  width:100%;
  padding:0;
  margin:0 0 0 10px;
  list-style-type:none;
}

#menuTop a {
  float:left;
  width:6.5em;
  text-decoration:none;
  color:black;
  background-color:white;
  padding:0.2em 0.6em;
  border-right:1px solid black;
  text-align:center;
}

#menuTop a:hover { 
  background-color:#35440C;
  color:#ffffff;
}

#menuTop li {
  display:inline;
}
/* --- Fin Menu --- */

#contentMain {
  height:auto;
}

#footer {
  background-color:#35440C;/*verde*/
  height:55px;
  /*background-image:url(../images/960_grid_12_col.png)*/
}

#footer p{
  font-size:11px;
  color:#FFFFFF;
  background-color:#35440C;
}

#leftFoot {
  text-align:right;
}

#rightFoot {
  text-align:left;
}

.medium {
  text-align:center;
}

.footLogo {
  float:left;
  background-color:#FFFFFF;
  width:29px;
  height:29px;
  border-radius:5px 0 5px 0;
  -webkit-border-radius:5px 0 5px 0;
  -moz-border-radius:5px 0 5px 0;
  behavior: url(../pie/PIE.htc); /* pie css3 */
}

.fa{
  margin:10px 13px 10px 30px;
  background:url('http://www.oficinasvirtualesmex.com/jcpvg/logoFa2.png') no-repeat;
  background-size:30px 30px;
}

.tw{
  margin:10px 13px 10px 15px;
  background:url('http://www.oficinasvirtualesmex.com/jcpvg/logoTw.png') no-repeat;
  background-size:30px 30px;
}

#apio {
  position:relative;
  top:-40px;
  font-family:"Courier New", Courier, monospace;
  font-size:12px;
}

#apio p {
  width:120px;
  height:45px;
  padding:20px 20px 0 0;
  text-align:right;
  background-color:#35440C;
  color:white;
  border-radius:0 0 5px 5px;
  -webkit-border-radius:5px 0 5px 0;
  -moz-border-radius:5px 0 5px 0;
  behavior: url(../pie/PIE.htc); /* pie css3 */
}

#apio a {
  text-decoration:none;
}

#apio b {
  color:#FFFFFF;
}

#apio a:link, a:visited {
  color:#FF6600;
  text-decoration:none;
  	transition-property:color;
  	transition-duration:0.5s;
  	-moz-transition-property: color; /* Firefox 4 */
	-webkit-transition-property:color; /* Safari and Chrome */
	-o-transition-property:color; /* Opera */
	-webkit-transition-duration: 0.5s; /* Safari */
}

#apio a:hover b, a:active b{
  color:#FF6600;
  font-weight:bold;
  text-decoration:none;
}
