#contentMain div {
background-color:;
}

#contentMain p {
background-color:yellow;
text-align:center;
}

#left{
  position:relative;
  top:-50px;
  z-index:2;
	width:620px;
}

#left01 p {
  height:77px;
}

#left02 p {
  height:254px;
}

#left03 p {
  height:143px;
}

#right {
  position:absolute;
  top:50px;
  z-index:0;
}

#right01 p {
  height:199px;
}

#right02 p {
  height:199px;
}

#right03 p {
  height:77px;
}


#contentMain p {
  transition-property:color;
  transition-duration:0.5s;
}

#contentMain p:hover {
  background-color:orange;
}

a.apio:link,a.apio:visited {
	font-weight:bold;
	color:#FFFFFF;
	width:120px;
	text-align:center;
	padding:4px;
	text-decoration:none;
	transition-property:color;
  	transition-duration:0.5s;
  	-moz-transition-property: color; /* Firefox 4 */
	-webkit-transition-property:color; /* Safari and Chrome */
	-o-transition-property:color; /* Opera */
	-webkit-transition-duration: 0.5s; /* Safari */
}

a.apio:hover,a.apio:active  {
	color:#0098DD;
}
